{#
/**
 * @file
 * Theme override for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the textarea element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 */
#}

{% set class = [
    'textarea-message',
    'form-control',
  ]
%}
<div{{ wrapper_attributes }}>
  <textarea{{ attributes.addClass(class) }}>{{ value }}</textarea>
</div>
